html{
    border: 1px dashed black;
}
body{
    width: 50;
    margin: 0 auto;
    border: 1px dashed black;
}
div{
    width: 200px;
    height: 100px;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
}
.one{
    background-color: red;
}
.two{
    background-color: blue;
}
.three{
    background-color: yellow;
}
.four{
    background-color: green;
}