#menuthings{
    color: darkolivegreen;
}
section{
    color: midnightblue;
}
#id{
    color: darkblue;
}
.random{
    color: darkblue;
}

h2{
    color: darkslateblue;
}
#p2{
    color: teal;
}
.list{
    color: olive;
}
h3{
    color: darkslategray;
}
#p3{
    color: darkcyan;
}
