html,body,header,nav,main,footer{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
header,nav,main,footer{
    border-radius: 10px;
}
body{
    margin: 15px;
}
header{
    width: 100%;
    height: 200px;
    border: 10px solid blue;
    background-color: gold;
    margin-bottom: 10px;
}
nav{
    float: left;
    width: 25%;
    height: 300px;
    margin-bottom: 10px;
    background-color: #a7dbd8;
}
main{
    float: right;
    width: 75%;
    height: 300px;
    margin-bottom: 10px;
    background-color: green;
}
footer{
    clear: both;
    width: 100%;
    height: 200px;
    border 10px solid red;
    background-color: indigo;
}